<!--Start of Brand section-->
    <nav class="bg-transparent">
     <div class="container pr-0 d-flex w-75">
      <div class="py-3 mx-auto">
       <h3>Alaa Moussa</h3>
      </div>
      <div class="my-auto d-none d-lg-block">
        <a class="text-primary" target="_blank" href="https://www.facebook.com/alaa.ahmed.moussa" title="facebook"><i class="fab fa-facebook-f"></i></a>
        <a class="text-danger mx-lg-1" target="_blank" href="https://www.instagram.com/3laamoussa/?hl=en" title="instagram"><i class="fab fa-instagram"></i></a>
        <a class="text-info" target="_blank" href="https://www.linkedin.com/in/alaa-moussa-3483ab77/" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
        <a class="ml-1 text-white" target="_blank" href="https://github.com/AlaaMou" title="github"><i class="fab fa-github"></i></a>
      </div>
     </div>
    </nav>
    <hr class="w-75 my-1">
<!--End of Brand section-->