<!--Start of navbar section-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent mb-3 mb-lg-5">
      <div class="container">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
         <li class="nav-item mx-auto px-md-2">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item mx-auto px-md-2">
          <a class="nav-link" href="#code">Code</a>
         </li>
         <li class="nav-item mx-auto px-md-2">
          <a class="nav-link" href="#my-work">Projects</a>
         </li>
         
         <li class="nav-item mx-auto px-md-2">
          <a class="nav-link" href="https://turkish-with-100.herokuapp.com/" target="_blank">Turkish</a>
         </li>
         <li class="nav-item mx-auto px-md-2">
          <a class="nav-link" href="https://turkish-with-100.herokuapp.com/travel" target="_blank">Travel</a>
         </li>
         <li class="nav-item mx-auto px-md-2">
          <a class="nav-link" href="#contact">Contact</a>
         </li>
         <li class="nav-item mx-auto px-md-2" id="social-list">
          <a class="text-primary" target="_blank" href="https://www.facebook.com/alaa.ahmed.moussa" title="facebook"><i class="fab fa-facebook-f"></i></a>
          <a class="text-danger mx-1" target="_blank" href="https://www.instagram.com/3laamoussa/?hl=en" title="instagram"><i class="fab fa-instagram"></i></a>
          <a class="text-info mx-1" target="_blank" href="https://www.linkedin.com/in/alaa-moussa-3483ab77/" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
          <a class="text-white" target="_blank" href="https://github.com/AlaaMou" title="github"><i class="fab fa-github"></i></a>
         </li>
         
        </ul>
       </div>
      </div>
    </nav>
<!--End of navbar section-->