<% layout('layouts/boilerplate') -%>

<!--Travel First Section-->
<div class="container-fluid text-light mx-0 background-box" id="travel-first-section">
  <% include layouts/brand %>
  <% include layouts/navbar %>

  <div class="container">  
  <div class="row">
    <!--wide column-->
    <div class="col-md-8 px-0 d-flex flex-column justify-content-end background-box" id="travel-first-box">
          <div class="box-content mx-3 my-3 mx-lg-5 my-lg-5">
            <p class="font-weight-bold text-info mb-2">IRAN</p>
            <h2>The ancient land of Persia ...</h2>
            <h5 class="text-light font-weight-bold">Interesting culture & Friendly people</h5>
            <a class="btn btn-sm btn-info" href="#iran">Read More ..</a>
          </div>
    </div>
    <!--narrow column-->
    <div class="col-md-4 px-0">
      
      <!--Turkish Language Box-->
      <a href="#korea" class="text-white">
      <div id="travel-second-box" class="d-flex flex-column justify-content-end background-box">
        <div class="box-content mx-3 my-2">
            <p class="font-weight-bold text-warning mb-1">SOUTH KOREA</p>
            <h4>The streets of Gangnam</h4>
        </div>
      </div>
      </a>
      
      <!--Travel Box -->
      <a href="#malaysia" class="text-white">
      <div id="travel-third-box" class="d-flex flex-column justify-content-end background-box">
        <div class="box-content mx-3 my-2">
            <p class="font-weight-bold text-info mb-1">Malaysia</p>
            <h4>The Country Of Three Nations</h4>
        </div>
      </div>
      </a>
      
    </div>
  </div>
  </div>
</div>

<!--Korea Section-->
<div class="container my-5">
  <div class="row">
    <!--Korea Photo Part-->
    <div class="col-lg-6 my-2" id="korea">
      <img src="/images/travel/korean.jpg" class="img-fluid rounded px-5">
    </div>
    <!--Paragraph Part-->
    <div class="col-lg-6 my-2 d-flex flex-column justify-content-center">
      <div class="container">
        <h2 class="text-center mb-3 text-info">South Korea</h2>
        <p class="text-center paragraph">To be continued , Stay Tuned ....</p>
      </div>
     
    </div>
    
  </div>
</div>

<!--Turkey Section-->
<div class="container my-5">
  <div class="row">
    <!--Korea Photo Part-->
    <div class="col-lg-6 my-2" id="turkey">
      <img src="/images/travel/turkey.jpg" class="img-fluid rounded px-5">
    </div>
    <!--Paragraph Part-->
    <div class="col-lg-6 my-2 d-flex flex-column justify-content-center">
      <div class="container">
        <h2 class="text-center mb-3 text-info">Turkey</h2>
        <p class="text-center paragraph">To be continued , Stay Tuned ....</p>
      </div>
     
    </div>
    
  </div>
</div>

<!--China Section-->
<div class="container my-5">
  <div class="row">
    <!--China Photo Part-->
    <div class="col-lg-6 my-2" id="china">
      <img src="/images/travel/china.jpg" class="img-fluid rounded px-5">
    </div>
    <!--Paragraph Part-->
    <div class="col-lg-6 my-2 d-flex flex-column justify-content-center">
      <div class="container">
        <h2 class="text-center mb-3 text-info">China</h2>
        <p class="text-center paragraph">To be continued , Stay Tuned ....</p>
      </div>
     
    </div>
    
  </div>
</div>
<!--Malaysia Section-->
<div class="container my-5">
  <div class="row">
    <!--Malaysia Photo Part-->
    <div class="col-lg-6 my-2" id="malaysia">
      <img src="/images/travel/kuala.jpg" class="img-fluid rounded px-5">
    </div>
    <!--Paragraph Part-->
    <div class="col-lg-6 my-2 d-flex flex-column justify-content-center">
      <div class="container">
        <h2 class="text-center mb-3 text-info">Malaysia</h2>
        <p class="text-center paragraph">To be continued , Stay Tuned ....</p>
      </div>
     
    </div>
    
  </div>
</div>
<!--Iran Section-->
<div class="container my-5">
  <div class="row">
    <!--Iran Photo Part-->
    <div class="col-lg-6 my-2" id="iran">
      <img src="/images/travel/iran.jpg" class="img-fluid rounded px-5">
    </div>
    <!--Paragraph Part-->
    <div class="col-lg-6 my-2 d-flex flex-column justify-content-center">
      <div class="container">
        <h2 class="text-center mb-3 text-info">Iran</h2>
        <p class="text-center paragraph">To be continued , Stay Tuned ....</p>
      </div>
     
    </div>
    
  </div>
</div>
