html {
  scroll-behavior: smooth;
}

hr{
border-top: 1px solid rgba(255,255,255,.1);
}

.background-box{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*First Section Background*/
#first-section{
  background-image: url('/images/dark-bg.jpg');
}
/*Coding Box Background*/
#first-box{
  background-image: url('/images/coding.jpg');
  min-height: 50vh;
}
/*Turkish Box Background*/
#second-box{
  background-image: url('/images/learn-turkish.jpg');
  height: 40vh;
}
/*Travel Box Background*/
#third-box{
  background-image: url('/images/travel.jpg');
  height: 40vh;
}
.paragraph{
  color: rgba(0, 0, 0, .6);
}
.progress{
  height: 1.75rem;
}
.progress-bar{
  text-align: left;
  padding-left: 2rem;
}
.project-background{
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*Hover Effect*/
.project-background:hover{
  opacity: .9;
}
.project-background .content{
  visibility: hidden;
  opacity: 0;
}
.project-background:hover .content{
  padding: 20%;
  opacity: 1;
  background-color:#FBEAEB;
  color:#2F3C7E;
  visibility: visible;
  z-index: 100;
  transition: visibility 0s, opacity 0.7s linear;
  font-weight: bold
}


/*Projects background*/
#project-one{
  background-image: url('/images/learn-turkish.jpg')
}
#project-two{
  background-image: url('/images/miss-lemon.JPG')
}
#project-three{
  background-image: url('/images/myPencil.jpg')
}


#social-list{
  display: none;
}

#email-form {
    max-width:40rem; 
  }

@media only screen and (max-width: 800px) {
  #email-form {
    margin-x:auto; 
  }
}
@media only screen and (max-width: 991px) {
  #social-list {
    display: inline-block; 
  }
}